<app-header title="{{ 'DTF_EDITOR_TITLE' | translatePipe }}" />

<ion-content class="ion-padding">

    <!-- standard formats -->
    <h5>{{ 'DTF_EDITOR_STANDARD_FORMATS' | translatePipe }}</h5>

    <!-- date format -->
    <ion-item>
      <ion-select
        label="{{ 'DTF_EDITOR_DATE_FORMAT' | translatePipe }}"
        [disabled]="(format().customFormat?.length ?? 0) > 0"
        [(ngModel)]="format().dateStyle"
      >
        <ion-select-option [value]="'full'">
          {{ dateTimeSample | datetime : { dateStyle: "full" } }}
        </ion-select-option>
        <ion-select-option [value]="'long'">
          {{ dateTimeSample | datetime : { dateStyle: "long" } }}
        </ion-select-option>
        <ion-select-option [value]="'medium'">
          {{
            dateTimeSample | datetime : { dateStyle: "medium" }
          }}</ion-select-option
        >
        <ion-select-option [value]="'short'">
          {{
            dateTimeSample | datetime : { dateStyle: "short" }
          }}</ion-select-option
        >
        <ion-select-option [value]="'*'">
          {{ 'SETTINGS_DATETIME_EMPTY' | translatePipe }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- time format -->
    <ion-item>
      <ion-select
        label="{{ 'DTF_EDITOR_TIME_FORMAT' | translatePipe }}"
        [disabled]="(format().customFormat?.length ?? 0) > 0"
        [(ngModel)]="format().timeStyle"
      >
        <ion-select-option [value]="'full'">
          {{
            dateTimeSample | datetime : { timeStyle: "full" }
          }}</ion-select-option
        >
        <ion-select-option [value]="'long'">
          {{
            dateTimeSample | datetime : { timeStyle: "long" }
          }}</ion-select-option
        >
        <ion-select-option [value]="'medium'">
          {{
            dateTimeSample | datetime : { timeStyle: "medium" }
          }}</ion-select-option
        >
        <ion-select-option [value]="'short'">
          {{
            dateTimeSample | datetime : { timeStyle: "short" }
          }}</ion-select-option
        >
        <ion-select-option [value]="'*'">
          {{ 'SETTINGS_DATETIME_EMPTY' | translatePipe }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- custom format -->
    <h5>{{ 'DTF_EDITOR_CUSTOM_FORMAT' | translatePipe }}</h5>

    <ion-item>
      <ion-input
        fill="none"
        [clearInput]="true"
        [(ngModel)]="format().customFormat"
      />
    </ion-item>

    @if (format().customFormat) {
      <pre class="format-legend">
  {{ "DTF_EDITOR_PREVIEW" | translatePipe }}:
  {{ dateTimeSample | datetime : { customFormat: format().customFormat } }}
      </pre>
    }

    <!-- format legend -->
    @for (el of DATETIME_FORMAT_ELEMS; track el) {
      <pre class="format-legend">{{ '  ' + el.padEnd(6, ' ') + (getElementKey(el) | translatePipe) }}</pre>
    }

</ion-content>

<!-- footer -->
<ion-footer class="right-container buttons-container">
  <ion-button color="primary" fill="clear" (click)="cancel()">
    {{ 'LBL_CANCEL' | translatePipe }}
  </ion-button>
  <ion-button color="primary" fill="clear" (click)="confirm()" [disabled]="!isValid()">
    {{ 'LBL_OK' | translatePipe }}
  </ion-button>
</ion-footer>
