<ion-header>

  <ion-toolbar>

    <ng-container *ngIf="!showCustomContent">

      <!-- menu button -->
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false" />
      </ion-buttons>

      <!-- page title -->
      <ion-title>{{ title }}</ion-title>

    </ng-container>

    <!-- custom content -->
    <ng-content *ngIf="showCustomContent"></ng-content>

    <!-- load progressbar -->
    <ng-container *ngIf="recordingsService.refreshProgress | async as value">
      <ion-progress-bar
        class="progress"
        buffersss=".001"
        [value]="value"
      />
    </ng-container>

  </ion-toolbar>

</ion-header>