<ion-header>

  <ion-toolbar>

    @if (!showCustomContent()) {

      <!-- menu button -->
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false" />
      </ion-buttons>

      <!-- page title -->
      <ion-title>{{ title() }}</ion-title>

      <!-- action buttons -->
      <ion-buttons slot="secondary">
        @for (ab of actionButtons(); track ab) {
          @if (!ab.visible || ab.visible()) {
            <ion-button (click)="ab.onClick()" >
              <ion-icon [name]="ab.icon()" slot="icon-only" />
            </ion-button>
          }
        }
      </ion-buttons>

    }

    <!-- custom content -->
    @if (showCustomContent()) {
      <ng-content />
    }

    <!-- load progressbar -->
    @if (recordingsService.refreshProgress(); as value) {
      <ion-progress-bar class="progress" [value]="value" />
    }

  </ion-toolbar>

</ion-header>