<app-header />

<ion-content id="main-content" class="ion-padding">

  <ion-list class="config-items" lines="full">

    <ion-item-divider>
      <h4>General</h4>
    </ion-item-divider>

    <ion-item>
      <ion-label>
        BCR recordings directory
        <p class="ion-text-wrap">{{ settings.recordingsDirectoryUri ? settings.recordingsDirectoryUri : 'Select BCR recordings directory...' }}</p>
      </ion-label>
      <ion-button slot="end" (click)="selectRecordingsDirectory()">
        <ion-icon name="folder-open-outline" />
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>BCR filename pattern</ion-label>
      <ion-button slot="end" icon="folder-open-outline" (click)="editFilenameFormat()">Edit</ion-button>
    </ion-item>

    <ion-item>
      <ion-select label="Appearance" [(ngModel)]="settings.appearance">
        <ion-select-option [value]="'system'">System preference</ion-select-option>
        <ion-select-option [value]="'light'">Light</ion-select-option>
        <ion-select-option [value]="'dark'">Dark</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Date style"
        [ngModel]="settings.dateTimeStyle.dateStyle ?? ''"
        (ngModelChange)="updateDateTimeStyle($event, 'dateStyle')"
      >
        <ion-select-option [value]="'full'">{{ dateTimeSample | datetime:{ dateStyle:'full' } }}</ion-select-option>
        <ion-select-option [value]="'long'">{{ dateTimeSample | datetime:{ dateStyle:'long' } }}</ion-select-option>
        <ion-select-option [value]="'medium'">{{ dateTimeSample | datetime:{ dateStyle:'medium' } }}</ion-select-option>
        <ion-select-option [value]="'short'">{{ dateTimeSample | datetime:{ dateStyle:'short' } }}</ion-select-option>
        <ion-select-option [value]="''">None</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Time style"
        [ngModel]="settings.dateTimeStyle.timeStyle ?? ''"
        (ngModelChange)="updateDateTimeStyle($event, 'timeStyle')"
      >
        <ion-select-option [value]="'full'">{{ dateTimeSample | datetime:{ timeStyle:'full' } }}</ion-select-option>
        <ion-select-option [value]="'long'">{{ dateTimeSample | datetime:{ timeStyle:'long' } }}</ion-select-option>
        <ion-select-option [value]="'medium'">{{ dateTimeSample | datetime:{ timeStyle:'medium' } }}</ion-select-option>
        <ion-select-option [value]="'short'">{{ dateTimeSample | datetime:{ timeStyle:'short' } }}</ion-select-option>
        <ion-select-option [value]="''">None</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item-divider>
      <h4>Recordings</h4>
    </ion-item-divider>

    <ion-item>
      <ion-select label="List sort mode" [(ngModel)]="settings.recordingsSortMode" (ngModelChange)="save()" placeholder="Make a Selection">
        <ion-select-option [value]="SortMode.Date_ASC">Date (ascending)</ion-select-option>
        <ion-select-option [value]="SortMode.Date_DESC">Date (descending)</ion-select-option>
        <ion-select-option [value]="SortMode.Duration_ASC">Duration (ascending)</ion-select-option>
        <ion-select-option [value]="SortMode.Duration_DESC">Duration (descending)</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item-divider>
      <h4>Player</h4>
    </ion-item-divider>

    <ion-item>
      <ion-select label="Seek time" [(ngModel)]="settings.seekTime" (ngModelChange)="save()" placeholder="Make a Selection">
        <ion-select-option [value]="5">5s</ion-select-option>
        <ion-select-option [value]="10">10s</ion-select-option>
        <ion-select-option [value]="15">15s</ion-select-option>
        <ion-select-option [value]="30">30s</ion-select-option>
        <ion-select-option [value]="60">60s</ion-select-option>
        <ion-select-option [value]="90">90s</ion-select-option>
        <ion-select-option [value]="120">120s</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

</ion-content>
