<div class="modal-wrapper">

  <ion-header>
    <ion-toolbar>
      <ion-title>Tags</ion-title>
    </ion-toolbar>
  </ion-header>

  <div lines="none" class="tags-list">
    <ion-item *ngFor="let tr of definedTagRefsSorted">
      <ion-checkbox labelPlacement="end" justify="start" [(ngModel)]="selectionMap[tr]">
        <div class="tag" [style]="definedTags[tr].color | tagColor">{{ tr }}</div>
      </ion-checkbox>
    </ion-item>
  </div>

  <div class="left-right-container buttons-container">
    <div>
      <ion-button color="primary" fill="clear" (click)="clearSelection()">Clear</ion-button>
    </div>
    <div>
      <ion-button color="primary" fill="clear" (click)="onClose()">Cancel</ion-button>
      <ion-button color="primary" fill="clear" (click)="onConfirm()">Ok</ion-button>
    </div>
  </div>

</div>
