$height: 75vh;
$width: 75vw;

::ng-deep ion-modal.tags-database-modal {
  --width: fit-content;
  --min-width: #{$width};
  --max-width: #{$width};
  --height: fit-content;
  --min-height: #{$height};
  --max-height: #{$height};
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --background: var(--ion-item-background);
}

.modal-wrapper {
  max-height: var(--max-height);
  min-height: $height;
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);
}

.tags-list {
  height: min-content;
  display: flex;
  grid-template-columns: repeat(2, 0.5fr);
  grid-auto-rows: min-content;
  flex-wrap: wrap;
  padding: 1em;
  overflow-y: scroll;
  max-height: 100%;
}

.tag-container {
  display: flex;
  padding: 1em;
  height: min-content;
  max-width: $width;
  min-width: calc(($width - 2em) / 2);  // ensure 2 columns are drawn
  place-content: center;
}

.selected {
  background-color: var(--ion-color-step-100);
}