$buttonSize: 2.5em;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  gap: 0;
  user-select: none;
  box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.2),
  0 -4px 5px 0 rgba(0, 0, 0, 0.14),
  0 -1px 10px 0 rgba(0, 0, 0, 0.12);
  --button-shadow-color: rgba(0,0,0,0.2);
}

:host-context(.dark) :host {
  --button-shadow-color: rgba(255,255,255,0.1);
}

.controls {
  display: flex;
  align-items: center;
  gap: 1em;
}

.button,
.button-in {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.button {
	background: var(--player-background-color);
	box-shadow: 0px 0px 6px 3px var(--button-shadow-color);
	position: relative;
	cursor: pointer;
  width: $buttonSize;
  height: $buttonSize;

  .button-in {
    width: 100%;
    height: 100%;

    .icon {
      height: 65%;
      width: 65%;
    }

    &:active {
      width: 100%;
      height: 100%;
      border: 1px solid var(--ion-color-primary-darker);
      box-shadow: inset 0px 0px 5px 0px var(--ion-color-step-700);

      .icon {
        height: 55%;
        width: 55%;
      }
    }

  }

  // increase size of play button
  &.play {
    width: calc($buttonSize * 1.3);
    height: calc($buttonSize * 1.3);
    border: 3px solid var(--ion-color-primary-darker);
    color: var(--ion-background-color);

    .button-in {
      background-color: var(--ion-color-primary);

      &:active {
        border: none;
        box-shadow: inset -3px -3px 5px 0.1px var(--ion-color-step-700), inset 3px 3px 5px 0.7px var(--ion-color-step-800);
      }
    }
  }

  // decrease size of action buttons
  &.actions {
    width: calc($buttonSize * .7);
    height: calc($buttonSize * .7);
  }

  &.disabled {
    opacity: 0.4;
  }
}

.progress {
  display: grid;
  grid-template-columns: min-content minmax(0, 1fr) min-content;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.progress-label {
  color: var(--ion-color-step-600)
}

.range-bar {
  --bar-height: 5px;
  --knob-size: 24px;
}

ion-range::part(bar) {
  background: var(--ion-background-color);
  box-shadow: color-mix(in srgb, var(--ion-color-primary-darker), transparent 80%) 0px 0px 0px 1px;
}

ion-range::part(bar-active) {
  background: var(--ion-color-primary);
}


ion-range::part(knob) {
  background: var(--ion-color-primary-darker);
}
