:host {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  align-items: center;
  gap: 2em;
}

.controls {
  display: flex;
  gap: 1em;
}

.buttons {
  font-size: 2em;
  line-height: 0;
}

.progress {
  display: flex;
  gap: .5em;
  width: 100%;
}
