<div class="progress">
  <ion-range
    label="{{ progress() | toHms }}"
    labelPlacement="end"
    [disabled]="!ready()"
    [value]="progress()"
    [max]="duration()"
    (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"
  />
</div>

<div class="controls">
  <ion-icon
    class="buttons"
    color="primary"
    [class.disabled]="!ready()"
    name="play-back"
    (click)="seek(-1)"
  />
  <ion-icon
    class="buttons"
    color="primary"
    [class.disabled]="!ready()"
    [name]="status() !== PlayerStatusEnum.Playing ? 'play' : 'pause'"
    (click)="toggle()"
  />
  <ion-icon
    class="buttons"
    color="primary"
    [class.disabled]="!ready()"
    name="play-forward"
    (click)="seek(+1)"
  />
</div>
