<div class="progress">
  <div class="progress-label">{{ progress() | toHms }}</div>
  <ion-range class="range-bar"
    [disabled]="!ready()"
    [value]="!isDraggingKnob() && progress()"
    [max]="duration()"
    [pin]="true"
    [pinFormatter]="rangePinFormatter"
    [step]="duration() > 600 ? 10 : duration() > 180 ? 5 : 1"
    [snaps]="true"
    [ticks]="false"
    (ionKnobMoveStart)="onIonKnobMoveStart($event)"
    (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"
  />
  <div class="progress-label">{{ duration() | toHms }}</div>
</div>

<div class="controls">

  <!-- left -->
  <div></div>

  <!-- central -->
  <div class="buttons buttons-center" [class.disabled]="!ready()">

    <!--
      "prev" button resets play position if pressed after the first 3 seconds of play,
      otherwise skip to previous recording
    -->
    <div class="button" (click)="progress() >= 3 ? onSeek('begin') : onSkip.emit('prev')">
      <div class="button-in">
        <ion-icon
          class="icon"
          color="primary"
          name="play-skip-back"
        />
      </div>
    </div>

    <div class="button" (click)="onSeek('rew')">
      <div class="button-in">
        <ion-icon
          class="icon"
          color="primary"
          name="play-back"
        />
      </div>
    </div>

    <div class="button play" (click)="togglePlayPause()">
      <div class="button-in">
        <ion-icon
          class="icon"
          [name]="status() !== PlayerStatusEnum.Playing ? 'play' : 'pause'"
        />
      </div>
    </div>

    <div class="button" (click)="onSeek('fwd')">
      <div class="button-in">
        <ion-icon
          class="icon"
          color="primary"
          name="play-forward"
        />
      </div>
    </div>

    <div class="button" (click)="onSkip.emit('next')">
      <div class="button-in">
        <ion-icon
          class="icon"
          color="primary"
          name="play-skip-forward"
        />
      </div>
    </div>

  </div>

  <!-- right -->
  <div class="buttons buttons-right" (click)="toggleSpeed()">
    <div class="button button-rect button-text">{{ settings.playbackSpeed }}x</div>
  </div>

</div>