<div class="progress">
  <div class="progress-label">{{ progress() | toHms }}</div>
  <ion-range class="range-bar"
    [disabled]="!ready()"
    [value]="progress()"
    [max]="duration()"
    (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"
  />
  <div class="progress-label">{{ duration() | toHms }}</div>
</div>

<div class="controls" [class.disabled]="!ready()">

  <div class="button" (click)="onSeek(-1)">
    <div class="button-in">
      <ion-icon
        class="icon"
        color="primary"
        name="play-back"
      />
    </div>
  </div>

  <div class="button play" (click)="toggle()">
    <div class="button-in">
      <ion-icon
        class="icon"
        [name]="status() !== PlayerStatusEnum.Playing ? 'play' : 'pause'"
      />
    </div>
  </div>

  <div class="button" (click)="onSeek(+1)">
    <div class="button-in">
      <ion-icon
        class="icon"
        color="primary"
        name="play-forward"
      />
    </div>
  </div>

</div>
