<ion-header>
  <ion-toolbar>
    <ion-title>Found {{ contacts.length }} contact(s)...</ion-title>
  </ion-toolbar>
</ion-header>

<div class="content">

  <p>The following contact(s) have a number like <span class="nowrap">{{ recording.opNumber }}</span></p>
  <p>Select the one you want to associate to this recording.</p>

  <div *ngFor="let contact of contacts" class="flex gap-m pad-m" (click)="associate(contact)">
    <ion-icon name="person-circle" />
    <ion-label>{{contact}}</ion-label>
  </div>
</div>

<ion-footer class="footer">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="closeModal()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
