.main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  --ion-padding: 2em;
}

.main-item {
  gap: 1.5em;
  padding-bottom: 1.5em;
  align-items: flex-start;
}

.title {
  font-size: 18pt;
  font-weight: bold;
  padding-bottom: .5em;
}

.item {
  padding-bottom: 1em;
}

.donations {
  display: flex;
  flex-direction: column;
  gap: .5em;

  .images {
    display: flex;
    gap: 1em;
  }

  img {
    border-radius: .3em;
  }
}