<app-header title="{{ 'MAINMENU_ABOUT' | translatePipe }}" />

<ion-content id="main-content" class="main ion-padding">

  <div class="left-right-container main-item">

    <div>
      <div class="title">{{ version.appName }}</div>
      <div [innerHTML]="'ABOUT_DESCRIPTION' | translatePipe:descData">
      </div>
    </div>

    <img src="/assets/icons/icon-rounded.svg" style="width: 64px; aspect-ratio: 1;">

  </div>

  <div class="item">
    <ion-label class="ion-text-wrap">
      <h2>{{ 'ABOUT_VERSION' | translatePipe }}</h2>
      <p>{{ version.version }}</p>
    </ion-label>
  </div>

  <div class="item">
    <ion-label class="ion-text-wrap">
      <h2>{{ 'ABOUT_COPYRIGHT' | translatePipe }}</h2>
      <p>{{ version.copyright }} (<a href="{{ version.websiteUri }}">{{ version.websiteUri }}</a>)</p>
    </ion-label>
  </div>

  <div class="item">
    <ion-label class="ion-text-wrap">
      <h2>{{ 'ABOUT_HOMEPAGE' | translatePipe }}</h2>
      <p>GitHub (<a href="{{ version.sourcesUri }}">{{ version.sourcesUri }}</a>)</p>
    </ion-label>
  </div>

  <div class="item">
    <ion-label class="ion-text-wrap donations">
      <h2>{{ 'ABOUT_DONATIONS' | translatePipe }}</h2>
      <p>{{ 'ABOUT_DONATIONS_TEXT' | translatePipe }}</p>
      <div class="images">
        <a href="https://paypal.me/nicorac" target="_blank">
          <img src="assets/images/paypal.png" alt="PayPal">
        </a>
        <a href="https://www.buymeacoffee.com/coolsoft" target="_blank">
          <img src="assets/images/buy-me-a-coffee.png" alt="Buy Me A Coffee">
        </a>
      </div>
    </ion-label>
  </div>

  <div class="item">
    <ion-label class="ion-text-wrap">
      <h2>{{ 'ABOUT_THANKS' | translatePipe }}</h2>
      <ul>
        <li>Call icons by <a href="https://freesvg.org/1547046949" target="_blank">FreeSVG (public domain icons)</a></li>
        <li>DateTime Angular pipes with Intl.* support by <a href="https://github.com/json-derulo/angular-ecmascript-intl" target="_blank">angular-ecmascript-intl</a></li>
      </ul>
    </ion-label>
  </div>

</ion-content>
