// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

:root {
/** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

body:not(.dark) {
  --ion-color-step-50: #c6e3b8;
  --ion-color-step-100: #bbd7af;
  --ion-color-step-150: #b1cba5;
  --ion-color-step-200: #a6bf9b;
  --ion-color-step-250: #9cb392;
  --ion-color-step-300: #92a788;
  --ion-color-step-350: #879b7e;
  --ion-color-step-400: #7d8f74;
  --ion-color-step-450: #72836b;
  --ion-color-step-500: #687861;
  --ion-color-step-550: #5e6c57;
  --ion-color-step-600: #53604e;
  --ion-color-step-650: #495444;
  --ion-color-step-700: #3e483a;
  --ion-color-step-750: #343c31;
  --ion-color-step-800: #2a3027;
  --ion-color-step-850: #1f241d;
  --ion-color-step-900: #151813;
  --ion-color-step-950: #0a0c0a;
}

body.dark {
  --ion-color-step-50: #0a0c0a;
  --ion-color-step-100: #151813;
  --ion-color-step-150: #1f241d;
  --ion-color-step-200: #2a3027;
  --ion-color-step-250: #343c31;
  --ion-color-step-300: #3e483a;
  --ion-color-step-350: #495444;
  --ion-color-step-400: #53604e;
  --ion-color-step-450: #5e6c57;
  --ion-color-step-500: #687861;
  --ion-color-step-550: #72836b;
  --ion-color-step-600: #7d8f74;
  --ion-color-step-650: #879b7e;
  --ion-color-step-700: #92a788;
  --ion-color-step-750: #9cb392;
  --ion-color-step-800: #a6bf9b;
  --ion-color-step-850: #b1cba5;
  --ion-color-step-900: #bbd7af;
  --ion-color-step-950: #c6e3b8;
}