<ion-app>

  <!-- app side menu -->
  <ion-menu contentId="main-content" type="overlay">

    <ion-header>
      <ion-toolbar translucent>
        <ion-title>{{ 'MAINMENU_MENU_TITLE' | translatePipe }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>

      <ion-list lines="none">

        <ion-menu-toggle autoHide="true">
          <ion-item [routerLink]="AppRoutesEnum.Main" menuClose>
            <ion-icon name="home-sharp" slot="start"></ion-icon>
            <ion-label>{{ 'MAINMENU_HOME' | translatePipe }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="true">
          <ion-item [routerLink]="AppRoutesEnum.Settings" menuClose>
            <ion-icon name="options-sharp" slot="start"></ion-icon>
            <ion-label>{{ 'MAINMENU_SETTINGS' | translatePipe }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle autoHide="true">
          <ion-item [routerLink]="AppRoutesEnum.About" menuClose>
            <ion-icon name="information-circle-sharp" slot="start"></ion-icon>
            <ion-label>{{ 'MAINMENU_ABOUT' | translatePipe }}</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- main content -->
  <ion-router-outlet />

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-sharp" />
        {{ 'MAINMENU_HOME' | translatePipe }}
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="options-sharp" />
        {{ 'MAINMENU_SETTINGS' | translatePipe }}
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="information-circle-sharp" />
        {{ 'MAINMENU_ABOUT' | translatePipe }}
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-app>
