<app-header
  [title]="version.appName"
  [actionButtons]="actionButtons"
  [showCustomContent]="isMultiselect"
>
  <!-- custom toolbar content -->

  <!-- stop multiselection -->
  <ion-buttons slot="start">
    <ion-button (click)="clearSelection()">
      <ion-icon icon="close" slot="icon-only" />
    </ion-button>
  </ion-buttons>

  <!-- action buttons -->
  <ion-buttons slot="end">
    <ion-button id="context-menu-button" >
      <ion-icon icon="ellipsis-vertical" slot="icon-only" />
    </ion-button>

    <!-- actions context menu -->
    <ion-popover trigger="context-menu-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list lines="none" class="toolbar-menu-items">
            <ion-item (click)="selectAll()">
              <ion-icon src="/assets/icons/select-all.svg" />
              {{ 'LBL_SELECTALL' | translatePipe }}
            </ion-item>
            <ion-item (click)="deleteItems(getSelectedItems())">
              <ion-icon name="trash" />
              {{ 'LBL_DELETE' | translatePipe }}
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>

  </ion-buttons>

</app-header>

<!-- search panel -->
<ion-toolbar *ngIf="isSearch">
  <ion-searchbar #searchBar
    show-clear-button="focus"
    [debounce]="750"
    [(ngModel)]="searchValue"
    [placeholder]="'LBL_SEARCH' | translatePipe"
    (ngModelChange)="updateFilter()"
    (ionClear)="clearFilter()"
  />
</ion-toolbar>

<!-- main content (list) -->
<ion-content #content
  id="main-content"
  class="ion-padding main-content"
  [class.disabled]="recordingsService.refreshProgress | async"
  [scrollY]="false"
>
  <div class="content-wrapper">

    <ion-list class="items"
      lines="full"
      style="height: 100%; min-height: 100%;"
      [style.--item-height]="itemHeight + 'px'"
      [style.--item-height-selected]="itemHeightSelected + 'px'"
      [style.--item-gap]="itemGap + 'px'"
    >

      <ion-refresher *ngIf="topIndex === 0 && !isDraggingCursor"
        slot="fixed"
        pullFactor=".5"
        pullMin="60"
        pullMax="120"
        (ionRefresh)="refreshList($any($event))"
      >
        <ion-refresher-content
          pullingIcon="refresh"
          pullingText="{{ 'HOME_PULL_TO_REFRESH' | translatePipe }}"
          refreshingSpinner="circles"
          refreshingText="{{ 'HOME_REFRESHING' | translatePipe }}"
        />
      </ion-refresher>

      <cdk-virtual-scroll-viewport #vsv
        class="virtual-scroll-viewport ion-content-scroll-host"
        [maxBufferPx]="1500"
        [minBufferPx]="1000"
        [itemSize]="itemHeight + itemGap"
        (scrolledIndexChange)="onScroll($event)"
      >

        <!-- recording item -->
        <ion-card *cdkVirtualFor="let item of items; let index = index"
          class="item"
          [class.selected]="item.selected && !isMultiselect"
          (click)="onItemClick(item)"
          longPress
          (longPress)="startMultiselection(item)"
        >
          <!-- isMultiselect checkbox -->
          <div>
            <ion-checkbox *ngIf="isMultiselect" class="checkbox" [(ngModel)]="item.selected" />
          </div>

          <div>
            <!-- card content -->
            <ion-card-header>
              <ion-card-title class="title">
                <div class="op-name">{{ item.opName }}</div>
                <app-call-icon class="call-direction-icon" [direction]="item?.direction ?? ''" />
              </ion-card-title>
              <ion-card-subtitle class="left-right-container subtitle">
                <div>{{ item?.date | datetime }}</div>
                <div *ngIf="item.duration">{{ item.duration | toHms }}</div>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content *ngIf="!isMultiselect && item.selected" class="content">

              <!-- details -->
              <div class="details">
                <p *ngIf="item.opName !== item.opNumber">
                  {{ 'HOME_REC_PHONE_NUMBER' | translatePipe}}: {{ item.opNumber }}
                </p>
                <p>{{ 'HOME_REC_TYPE' | translatePipe}}: {{ item.mimeType }}</p>
                <p>{{ 'HOME_REC_SIZE' | translatePipe}}: {{ item.filesize | filesize }}</p>
              </div>

              <!-- audio player -->
              <app-audio-player #audioPlayer class="player" [recording]="item" />

              <!-- action buttons -->
              <div class="actions">

                <!-- edit -->
                <ion-icon name="pencil"
                  class="action"
                  (click)="editItem(item)"
                />

                <!-- share -->
                <ion-icon name="share-social"
                  class="action"
                  (click)="shareRecording(item, $event)"
                />

                <!-- delete -->
                <ion-icon name="trash"
                  class="action"
                  (click)="deleteItems([item])"
                />

              </div>

            </ion-card-content>

          </div>

        </ion-card>

      </cdk-virtual-scroll-viewport>

    </ion-list>

    <app-virtual-scrollbar class="virtual-scrollbar" [virtualScrollViewport]="vsv" (isDragging)="isDraggingCursor = $event" />

  </div>

</ion-content>
