.title {
  font-size: 14pt;
  line-height: 16pt;
  display: flex;
  justify-content: space-between;
}

.title,
.subtitle {
  color: RGB(var(--ion-text-color-rgb));
}

.call-direction-icon {
  height: 16pt;
  width: 16pt;
}

.items {
  padding: 0 0 2em 0;
  background: var(--ion-background-color);
}

.item {
  display: grid;
  grid-template-columns: min-content minmax(0, 1fr);
  align-items: center;
  border: 1px solid var(--item-border-color);
  border-radius: .8em;
  box-shadow: 0 0 .2em var(--item-shadow-color);
  margin-bottom: 1em;

  &.selected {
    border-color: var(--item-border-color-selected);
    box-shadow: 0 0 1em var(--item-shadow-color);
  }

  .checkbox {
    margin-left: 1em;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .player {
    border-radius: .6em;
  }

  .actions {
    display: flex;
    gap: 1.25em;
    justify-content: flex-end;
  }

  .action {
    font-size: 2em;
    line-height: 2em;
  }
}

.filter-container {
  padding-inline: 1.5em;
  display: flex;
  flex-direction: column;
  gap: .2em;
  > * {
    padding: 0;
  }
}