$line-height: 16pt;

.item-title {
  font-size: 14pt;
  line-height: $line-height;
  display: grid;
  grid-template-columns: minmax(0, 1fr) max-content;
  &.collapsed {
    max-height: $line-height;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.item-title,
.item-subtitle {
  color: RGB(var(--ion-text-color-rgb));
}

.items {
  padding: 0 0 2em 0;
  background: var(--ion-background-color);
}

.item {
  border: 1px solid var(--item-border-color);
  border-radius: .8em;
  box-shadow: 0 0 .2em var(--item-shadow-color);
  margin-bottom: 1em;

  &.selected {
    border-color: var(--item-border-color-selected);
    box-shadow: 0 0 1em var(--item-shadow-color);
  }

  .player {
    border-radius: .6em;
  }

  .actions {
    display: flex;
    gap: 1.25em;
    justify-content: flex-end;
  }

  .action {
    font-size: 2em;
    line-height: 2em;
  }
}

.details {
  display: grid;
  gap: .3em .8em;
  grid-template-columns: max-content minmax(0, 1fr);
}


.value.notes {
  max-height: 4.5em;
  line-height: 1.5em;
  white-space: pre-line;
  overflow: auto;
}
