<app-header />

<ion-content id="main-content" class="ion-padding" [class.disabled]="recordingsService.refreshProgress | async">

  <!-- refresh FAB button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="refreshList()" class="fab">
      <ion-icon name="refresh" />
    </ion-fab-button>
  </ion-fab>

  <!-- recordings list -->
  <ion-list class="items">

    <!-- recording list item -->
    <ion-card *ngFor="let item of recordingsService.recordings | async | recordingsSort:settings.recordingsSortMode"
      class="item"
      [class.selected]="item === selectedItem"
      (click)="onItemClick(item)"
    >
      <ion-card-header>
        <ion-card-title class="item-title" [class.collapsed]="item !== selectedItem">
          {{ item.opName }}
          <app-call-icon [direction]="item?.direction ?? ''" />
        </ion-card-title>
        <ion-card-subtitle class="left-right-container item-subtitle">
          <div>{{ item?.date | intlDate:settings.dateTimeStyle }}</div>
          <div *ngIf="item.duration">{{ item.duration | toHms }}</div>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content *ngIf="item === selectedItem">

        <!-- details -->
        <div class="details">

          <ng-container *ngIf="item.opName !== item.opNumber">
            <div class="label">Number:</div>
            <div class="value">{{ item.opNumber }}</div>
          </ng-container>

          <ng-container *ngIf="item.notes">
            <div class="label">Notes:</div>
            <div class="value notes">{{ item.notes }}</div>
          </ng-container>

          <div class="label">Type:</div>
          <div class="value">{{ item.mimeType }}</div>

          <div class="label">Size:</div>
          <div class="value">{{ item.filesize | filesize }}</div>

        </div>

        <!-- audio player -->
        <app-audio-player #audioPlayer class="player" [recording]="item" />

        <!-- action buttons -->
        <div class="actions">

          <!-- edit -->
          <ion-icon name="pencil"
            class="action"
            (click)="editMetadata(item)"
          />

          <!-- share -->
          <ion-icon name="share-social"
            class="action"
            (click)="shareRecording(item)"
          />

          <!-- delete -->
          <ion-icon name="trash"
            class="action"
            (click)="deleteRecording(item, audioPlayer)"
          />

        </div>

      </ion-card-content>

    </ion-card>

  </ion-list>

</ion-content>
