<app-header
  [title]="version.appName"
  [actionButtons]="actionButtons"
  [showCustomContent]="multiselect"
>
  <!-- custom toolbar content -->

  <!-- stop multiselection -->
  <ion-buttons slot="start">
    <ion-button (click)="clearSelection()">
      <ion-icon icon="close" slot="icon-only" />
    </ion-button>
  </ion-buttons>

  <!-- action buttons -->
  <ion-buttons slot="end">
      <ion-button (click)="deleteItems(getSelectedItems())" >
        <ion-icon icon="trash" slot="icon-only" />
      </ion-button>
  </ion-buttons>

</app-header>


<ion-content id="main-content" class="ion-padding" [class.disabled]="recordingsService.refreshProgress | async">

  <!-- pull down the list to refresh content -->
  <ion-refresher slot="fixed"
    pullFactor=".5"
    pullMin="60"
    pullMax="120"
    (ionRefresh)="refreshList($any($event))"
  >
    <ion-refresher-content
      pullingIcon="refresh"
      apullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
  </ion-refresher-content>  </ion-refresher>

  <!-- recordings list -->
  <ion-list class="items" lines="full">

    <!-- recording list item -->
    <ion-card *ngFor="let item of recordingsService.recordings | async | recordingsSort:settings.recordingsSortMode"
      class="item"
      [class.selected]="item.selected"
      (click)="onItemClick(item)"
      longPress
      (longPress)="startMultiselection(item)"
    >
      <!-- multiselect checkbox -->
      <div>
        <ion-checkbox *ngIf="multiselect" class="checkbox" [(ngModel)]="item.selected" />
      </div>

      <div>
        <!-- card content -->
        <ion-card-header>
          <ion-card-title class="title">
            {{ item.opName }}
            <app-call-icon class="call-direction-icon" [direction]="item?.direction ?? ''" />
          </ion-card-title>
          <ion-card-subtitle class="left-right-container subtitle">
            <div>{{ item?.date | intlDate:settings.dateTimeStyle }}</div>
            <div *ngIf="item.duration">{{ item.duration | toHms }}</div>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content *ngIf="!multiselect && item.selected" class="content">

          <!-- details -->
          <div class="details">
            <p *ngIf="item.opName !== item.opNumber">Number: {{ item.opNumber }}</p>
            <p>Type: {{ item.mimeType }}</p>
            <p>Size: {{ item.filesize | filesize }}</p>
            <p *ngIf="!item.hasMetadata"><i>Missing .json metadata file!</i></p>
          </div>

          <!-- audio player -->
          <app-audio-player #audioPlayer class="player" [recording]="item" />

          <!-- action buttons -->
          <div class="actions">

            <!-- edit -->
            <!-- <ion-icon name="pencil"
              class="action"
              [class.disabled]="true"
              (click)="onActionNotImplemented(item)"
            /> -->

            <!-- share -->
            <ion-icon name="share-social"
              class="action"
              (click)="shareRecording(item)"
            />

            <!-- delete -->
            <ion-icon name="trash"
              class="action"
              (click)="deleteItems([item], audioPlayer)"
            />

          </div>

        </ion-card-content>

      </div>

    </ion-card>

  </ion-list>

</ion-content>
