::ng-deep {

  ion-modal {
    --height: 50%;
    --width: 95%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  ion-modal::part(backdrop) {
    background: #000000;
    --backdrop-opacity: 0.8;
  }

}

.footer {
  box-shadow: none;
  ion-toolbar {
    --background: transparent;
    --padding-end: 1em;
    --padding-bottom: 1em;
  }
  ion-buttons {
    gap: .8em;
  }
}