::ng-deep ion-modal.metadata-editor {
  aa--height: 66.6%;
}

.edit-form {
  display: grid;
  gap: 1em;
  grid-template-columns: max-content minmax(0, 1fr);
}

.label {
  font-weight: bold;
  align-self: center;
}

.value {
  --border-width: 0;
  --padding-start: 1em;
  --padding-end: 1em;
  margin-bottom: -1px;
  border-radius: .8em;
  border: 1px solid var(--ion-color-step-300);
  background-color: var(--ion-item-background);
}

.notes { max-height: 7em; }
.notes ::ng-deep textarea {
  max-height: 6.5em;
  overflow: auto !important;
}

.number-wrapper {
  display: flex;
  align-items: center;
  ion-label {
    flex-grow: 1;
  }
}