body {
  // default mode
  --ion-color-primary: #43a047;       // main color (buttons, ...)
  --ion-text-color: #000000;          // text color
  --ion-text-color-rgb: 0,0,0;          // text color (RGB form)
  // pages
  --ion-background-color: #d0efc3;
  // toolbar
  --ion-toolbar-color: #ffffff;
  --ion-toolbar-color-rgb: 255,255,255;
  --ion-toolbar-background: var(--ion-color-primary); // NOTE: this value must also be set in TOOLBAR_BACKGROUND_* const (app.component.ts)
  // items
  --ion-item-background: #ffffff;
  --ion-item-color: var(--ion-text-color);
  --item-border-color: var(--ion-color-step-400);
  --item-border-color-selected: var(--ion-color-step-800);
  --item-shadow-color: var(--ion-color-step-800);

  // dark mode (overrides)
  &.dark {
    --ion-color-primary: #43a047; //Svar(--ion-color-step-600);
    --ion-text-color: var(--ion-color-step-950);
    --ion-text-color-rgb: 198, 227, 184;  // used by menu icons
    // pages
    --ion-background-color: var(--ion-color-step-100);
    // toolbar
    --ion-toolbar-color: var(--ion-text-color);
    --ion-toolbar-color-rgb: var(--ion-text-color-rgb);  // used by menu icons
    --ion-toolbar-background: var(--ion-color-step-150); // NOTE: this value must also be set in TOOLBAR_BACKGROUND_* const (app.component.ts)
    // items
    --ion-item-background: var(--ion-color-step-150);
    --ion-item-color: var(--ion-text-color);
    --item-border-color: var(--ion-color-step-400);
    --item-border-color-selected: var(--ion-color-step-800);
    --item-shadow-color: var(--ion-color-step-800);
  }

  // items
  --ion-item-border-color: var(--ion-background-color);

  // menu
  --menu-color: var(--ion-text-color);
  --menu-color-rgb: var(--ion-text-color-rgb);
  --menu-background: var(--ion-background-color);

  // modals
  --ion-overlay-background-color: var(--ion-item-background);

}

ion-menu {
  --ion-item-color: var(--menu-color);
  --ion-text-color: var(--menu-color);
  --ion-text-color-rgb: var(--menu-color-rgb);
  --ion-background-color: var(--menu-background);
  --ion-item-background: var(--menu-background); // menu items background
}

ion-item-divider {
  --color: var(--ion-color-step-800);
}

.left-right-container {
  display: flex;
  justify-content: space-between;
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

// MessageBox customizations
ion-alert.msgbox-error {
  .alert-head {
    padding-left: 4em;
    background: no-repeat 1em center / 2em url('assets/icons/alert-circle-outline-red.svg') ;
  }
}

// Modals
ion-modal {
  // set almost fullscreen, with custom aspect
  --height: 95%;
  --width: 95%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  &::part(backdrop) {
    background: #000000;
    --backdrop-opacity: 0.8;
  }
  // remove footer
  .footer {
    box-shadow: none;
    ion-toolbar {
      --background: transparent;
      --padding-end: 1em;
      --padding-bottom: 1em;
    }
    ion-buttons {
      gap: .8em;
    }
  }
}

// useful styles
.flex {
  display: flex;
  align-items: center;
}

.gap-s { gap: .3em; }
.gap-m { gap: .6em; }
.gap-l { gap: 1em; }

.pad-s { padding: .3em; }
.pad-m { padding: .6em; }
.pad-l { padding: 1em; }