body {
  // default mode
  --ion-color-primary: #43a047;       // main color (buttons, ...)
  --ion-text-color: #000000;          // text color
  --ion-text-color-rgb: 0,0,0;          // text color (RGB form)
  // pages
  --ion-background-color: #d0efc3;
  // toolbar
  --ion-toolbar-color: #ffffff;
  --ion-toolbar-color-rgb: 255,255,255;
  --ion-toolbar-background: var(--ion-color-primary); // NOTE: this value must also be set in TOOLBAR_BACKGROUND_* const (app.component.ts)
  // items
  --ion-item-background: #ffffff;
  --ion-item-color: var(--ion-text-color);
  --item-border-color: var(--ion-color-step-300);
  --item-border-color-selected: var(--ion-color-step-400);
  --item-shadow-color-selected: var(--ion-color-step-300);

  // dark mode (overrides)
  &.dark {
    --ion-color-primary: #43a047;
    --ion-text-color: rgb(223, 223, 223);
    --ion-text-color-rgb: 223, 223, 223;  // used by menu icons
    // pages
    --ion-background-color: var(--ion-color-step-50);
    // toolbar
    --ion-toolbar-color: var(--ion-text-color);
    --ion-toolbar-color-rgb: var(--ion-text-color-rgb);  // used by menu icons
    --ion-toolbar-background: var(--ion-color-step-100); // NOTE: this value must also be set in TOOLBAR_BACKGROUND_* const (app.component.ts)
    // items
    --ion-item-background: var(--ion-color-step-100);
  }

  // list items (settings...)
  --ion-item-border-color: var(--ion-background-color);

  // menu
  --menu-color: var(--ion-text-color);
  --menu-color-rgb: var(--ion-text-color-rgb);
  --menu-background: var(--ion-background-color);

  // modals
  --ion-overlay-background-color: var(--ion-item-background);

}

ion-menu {
  --ion-item-color: var(--menu-color);
  --ion-text-color: var(--menu-color);
  --ion-text-color-rgb: var(--menu-color-rgb);
  --ion-background-color: var(--menu-background);
  --ion-item-background: var(--menu-background); // menu items background
}

ion-item-divider,
.item-divider {
  --color: var(--ion-text-color);
}

.left-right-container {
  display: flex;
  justify-content: space-between;
}

.right-container {
  display: flex;
  justify-content: flex-end;
}

// MessageBox customizations
ion-alert.msgbox-error {
  .alert-head {
    padding-left: 4em;
    background: no-repeat 1em center / 2em url('assets/icons/alert-circle-outline-red.svg') ;
  }
}

.config-items {
  padding: 0;
  > ion-item {
    --border-width: 0 0 4px 0;
  }
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

ion-modal.actions,
ion-action-sheet.actions {
  --background: var(--ion-toolbar-background);
  --color: var(--ion-toolbar-color);
  --button-background: var(--ion-background-color);
  --button-color: var(--ion-text-color);
  --max-width: 95%;

  .ion-page,
  .action-sheet-group {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border: 1px solid var(--item-border-color);
    border-bottom: none;
    box-shadow: 0 0 1em .5em rgba(0, 0, 0, 0.6);
  }

  .action-sheet-title {
    font-size: 120%;
  }

  .action-sheet-icon {
    color: var(--ion-text-color);
  }
}

// modal action sheets share the same style as action sheets, with some additions
ion-modal.actions {
  border: 1px solid var(--item-border-color);
  ion-toolbar {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: none;
  }
}