<ion-header>
  <ion-toolbar>
    <ion-title>Filename pattern editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="content">

    <!-- pattern -->
    <div class="section">
      <div class="section-title">Filename pattern</div>
      <ion-label>This pattern is used to parse filenames of recordings that don't have a corresponding .json metadata file.</ion-label>

      <!-- label + variable help -->
      <ion-label>
        It must be a valid JS RegExp, with custom <strong>&#123;*&#125;</strong> placeholders.
      </ion-label>

      <!-- pattern -->
      <ion-textarea #patternField class="pattern-field"
        fill="outline"
        rows="5"
        autocapitalize="off"
        debounce="1000"
        [(ngModel)]="pattern"
        (ngModelChange)="validatePattern()"
      />
      <div class="error" *ngIf="patternError">{{ patternError }}</div>
      <div class="right-container">

        <!-- placeholders button -->
        <ion-button id="placeholders-button" color="primary" fill="clear">Placeholders</ion-button>

        <!-- placeholders sheet -->
        <ion-modal
          #placeholdersModal
          class="sheet-list actions"
          trigger="placeholders-button"
          initialBreakpoint="0.50"
        >
          <ng-template>
            <ion-toolbar slot="fixed">
              <ion-title>Placeholders</ion-title>
              <ion-title size="small">(click to insert)</ion-title>
            </ion-toolbar>
            <ion-content>
              <ion-list>
                <ion-item *ngFor="let item of placeholders" (click)="insertPlaceholder(item.text);">
                  <ion-label>
                    <h2>{{ item.text }}</h2>
                    <p class="description">{{ item.description }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>

        <!-- load template pattern button -->
        <ion-button id="templates-button" color="primary" fill="clear">Templates</ion-button>

        <!-- pattern templates sheet -->
        <ion-modal
          #templateLoadModal
          class="sheet-list actions"
          trigger="templates-button"
          initialBreakpoint="0.25"
        >
          <ng-template>
            <ion-toolbar slot="fixed">
              <ion-title>Pattern templates</ion-title>
            </ion-toolbar>
            <ion-content>
              <ion-list>
                <ion-item *ngFor="let item of FILENAME_PATTERN_TEMPLATES" (click)="loadTemplate(item.pattern);">
                  <ion-label>
                    <h2>{{ item.name }}</h2>
                    <p class="description">{{ item.pattern }}</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>


      </div>
    </div>

    <!-- test filename -->
    <div class="section">
      <div class="section-title">Test filename</div>
      <ion-textarea class="pattern-field"
        type="text"
        [(ngModel)]="testFilename"
        placeholder="Select (or insert) a filename to test..."
      />
      <div class="right-container buttons-container">
        <ion-button fill="clear" (click)="selectTestFile()">Select filename</ion-button>
        <ion-button fill="clear" (click)="testPattern()" [disabled]="!testFilename">Test pattern</ion-button>
      </div>
    </div>

    <!-- test result -->
    <div class="section" *ngIf="testResult">
      <ion-label>Test result</ion-label>
      <pre class="result">{{ testResult }}</pre>
    </div>

  </div>

</ion-content>

<!-- footer -->
<ion-footer class="right-container buttons-container">
  <ion-button color="primary" fill="clear" (click)="cancel()">Cancel</ion-button>
  <ion-button color="primary" fill="clear" (click)="confirm()">Ok</ion-button>
</ion-footer>
